:root{

    /* ff == font-family */
    --ff-body: "Roboto", sans-serif;
    --ff-title: "Playfair Display", sans-serif;
    /* fs == font-size */
    --fs-300: 0.9rem;
    --fs-500: 1.2rem;
    --fs-big: 2rem;
    /* clr == color */
    --clr-spot: rgb(90, 143, 242);
    --clr-sec-2: rgb(242, 222, 166); 
    --clr-sec-3: rgb(242, 192, 44);
    --clr-bg: rgb(241, 213, 126); 
    --clr-dark-text: rgb(165, 108, 3);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-body);

}
html:focus-within {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--clr-bg);
}

img,
picture {
  max-width: 100%;
  display: block;
}

.header{
    min-height: 30vh;
    background-image: url("https://picsum.photos/1080/400?blur");
    background-size: cover;
    display: grid;
    grid-template-rows: 4;
}
.main__nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
}
.header__titles{
    text-align: left;
}

.header__intro{
    color: var(--clr-dark-text);   
}
.header_subtitle {
    font-size: 3rem;
}

.animated {
    text-indent: 8px;
    color:red;
  }
.dotted{
  display: block;
  border-top: 1px white dotted;
  height: 5px;
}

.addEntity::after{
  content: "\27A4";
  display: inline-block;
  transform: rotate(90deg);
}
.BerlingskePil::after{
  content: url('arrow.svg');
}
  .animated:before {
    content: "a coder.";
    /* animation: topToBottom 3s linear 1s infinite running slidein; */
    animation: topToBottom 5s forwards infinite;
  }
  
  @keyframes topToBottom {
    0% {
      content: "a coder.";
    }
    25% {
      content: "crazy.";
    }
    50% {
      content: "awesome.";
    }
    75% {
      content: "groovy.";
    }
    100% {
      content: "magic.";
    }
  }